**Imbalanced Dataset:**

A dataset with an unequal class distribution

In [51]:
# importing the dependencies
import numpy as np
import pandas as pd

In [52]:
# loading the dataset to pandas DataFrame
credit_card_data = pd.read_csv('/content/credit_data.csv')

In [53]:
# first 5 rows of the dataframe
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [54]:
credit_card_data.tail()

            Time        V1        V2  ...       V28  Amount  Class
223853  143550.0 -0.841297  0.826026  ...  0.071854   29.99    0.0
223854  143551.0  1.961248 -0.047037  ... -0.038624   41.66    0.0
223855  143551.0 -0.995266  0.689360  ... -0.157237  123.50    0.0
223856  143552.0  2.072290 -0.059782  ... -0.061553    1.98    0.0
223857  143552.0  1.863110 -0.366371  ...       NaN     NaN    NaN

[5 rows x 31 columns]

In [55]:
# distribution of the two classes
credit_card_data['Class'].value_counts()

0.0    223442
1.0       415
Name: Class, dtype: int64

0 --> Legit Transactions

1 --> Fraudulent Transactions

This is Highly Imbalanced Dataset

In [56]:
# separating the legit and fraudulent transactions
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [57]:
print(legit.shape)
print(fraud.shape)

(223442, 31)
(415, 31)

Under-sampling

Build a sample dataset containing similar distribution of Legit & Fraudulent Transactionds

Number of Fraudulent Transactions --> 492

In [58]:
legit_sample = legit.sample(n=415)

In [59]:
print(legit_sample.shape)

(415, 31)

In [60]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [61]:
new_dataset.head()

            Time        V1        V2  ...       V28  Amount  Class
167581  118772.0  2.058909 -1.032556  ... -0.044641   84.30    0.0
213329  139207.0  0.979092 -1.388224  ...  0.030133  587.00    0.0
22351    32197.0  1.189492 -0.572732  ...  0.026880   47.52    0.0
18983    29927.0  1.315803  0.433113  ...  0.025232    1.98    0.0
147966   89208.0 -0.726598  1.468475  ...  0.122009   85.77    0.0

[5 rows x 31 columns]

In [62]:
new_dataset.tail()

            Time        V1        V2  ...       V28  Amount  Class
222419  142961.0  0.457845  1.373769  ...  0.094956     0.0    1.0
223366  143354.0  1.118331  2.074439  ...  0.259533     1.0    1.0
223572  143434.0 -2.729482  3.312495  ...  0.140999     1.0    1.0
223578  143438.0 -5.256434  0.364541  ... -0.173630     8.9    1.0
223618  143456.0 -2.006582  3.676577  ... -0.042393     1.0    1.0

[5 rows x 31 columns]

In [63]:
new_dataset['Class'].value_counts()

1.0    415
0.0    415
Name: Class, dtype: int64